<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WO_Grubb_CallCenter.Properties.Settings.WOGDATConnectionString"
            connectionString="Data Source=grubbsql2016\sage300;Initial Catalog=WOGDAT;Persist Security Info=True;User ID=sa;Password=1wogr0000!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>